
body {
    box-sizing: border-box;
    color: white;
    
}

/* attribution styles */
.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96vh;
}
  
.box {
    width: 20vw;
    height: 67vh;
}

.sedans {
    border-radius: 2.5% 0 0 2.5%;
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 2.5% 2.5% 0;
}

/* text styles */

p {
    font-family: "Lexend Deca" , sans-serif;
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.75);
    height: 30vh;
    line-height: 1.6875em;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 48px;
}
h1,p {
    width:13vw;
    margin-left: 18%;
}
img {
    margin:10% 0 0 18%;
}

/* button styles */

.button {
    background-color: #ffffff;
    border: none;
    border-radius: 30px 30px 30px 30px;
    padding: 15px 32px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lexend Deca" , sans-serif;
    margin: 4px 2px 0 18%;
    cursor: pointer;
}

.sedans .button {
    color: hsl(31, 77%, 52%);
}

.suvs .button {
    color: hsl(184, 100%, 22%);
}

.luxury .button {
    color: hsl(179, 100%, 13%);
}

/* button active states */
.sedans .button:active {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

.suvs .button:active {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

.luxury .button:active {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

/* media breakpoint */
@media only screen and (max-width: 375px), (orientation: portrait) {
    #container {
        flex-direction: column;
        height: 230vh;
    }

    .box {
        width:90%;
    }

    p, h1 {
        width: 65%;
    }

    .sedans {
        border-radius: 2.5% 2.5% 0 0;
    }

    .luxury {
        border-radius: 0 0 2.5% 2.5%;
    }
}