
body {
    box-sizing: border-box;
    color: white;
    
}

/* attribution styles */
.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96vh;
    border: 1px solid black;
}
  
.box {
    width: 22vw;
    height: 60vh;
    border: 1px solid black;

}

.sedans {
    border-radius: 2.5% 0 0 2.5%;
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 2.5% 2.5% 0;
}

/* text styles */

p {
    font-family: "Lexend Deca" , sans-serif;
    font-size: 0.9375rem;
    color: hsla(0, 0%, 100%, 0.75);
    
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);

}
h1,p {
    border: 1px solid black;
    width:18vw;
    margin-left: 11%;
}
img {
     margin:10% 0 0 11%;
     border: 1px solid black;
}

/* button styles */

.button {
    background-color: #ffffff;
    border: none;
    border-radius: 30px 30px 30px 30px;
    
    padding: 15px 32px;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lexend Deca" , sans-serif;
    margin: 4px 2px 0 11%;
    cursor: pointer;
    border: 1px solid black;
  }

  .sedans .button {
     color: hsl(31, 77%, 52%);
  }

  .suvs .button {
     color: hsl(184, 100%, 22%);
  }

  .luxury .button {
     color: hsl(179, 100%, 13%);
  }